body,html{
	height: 100%;
	 font-family: 'Montserrat', sans-serif;


}




input::placeholder{
	color:#FF473A;
}

 input {
   border: 2px solid #FF473A;
 }  

.nav{
position: absolute;
height: 60px;
left: 0px;
right: 0px;
top: 24px;
}

.text1{
	font-size: 10px;

}

.text2{
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 0px;
	right:0px;
	color:#FF473A;

}

.menu{
	width: 18px;
	height: 12px;
	background-image: url('../pic/shape.jpg');
	position: absolute;
	right:10px;
	top:20px;

	
}

.search_bar{
width: 300px;
height: 35px;
font-size: 19px;

color:#FF473A;
position: relative;
left: 30px;
right: 60px;
top: 20px;
}

.text3{
	font-size: 13px;
	position: absolute;
	left: 40px;
	top:110px;
color:#FF473A;

}

.container_img{
width: 100%;
height: 80%;
margin: 0 auto;
}

.img1{
	width: 165px;
	height: 124px;
	background-image: url('../pic/img1.jpg');
	position: absolute;
	top:150px;


	
}

.text4{
		color:#FF473A;
		font-size: 13px;
		text-align: left;
position: absolute;
left: 10px;
top:280px;
}


.img2{
	width: 165px;
	height: 124px;
	background-image: url('../pic/img2.jpg');
	position: absolute;
	right: 20px;
	top: 150px;
	
}

.text5{
	color:#FF473A;
		font-size: 13px;
	    position: absolute;
	    top: 280px;
	    right: 87px;

}

.img3{
	width: 165px;
	height: 124px;
	background-image: url('../pic/img3.jpg');
	position: absolute;
    top: 330px;
}
.text6{
	color:#FF473A;
	font-size: 13px;
	position: absolute;
	top:460px;
}

.img4{
width: 165px;
height: 124px;
background-image: url('../pic/img4.jpg');
position: absolute;
top: 330px;
right: 20px;
}


.text7{
	color:#FF473A;
	font-size: 13px;
	position: absolute;
    top: 460px;
    right: 130px;
}





.img5{
width: 165px;
height: 124px;
background-image: url('../pic/img5.jpg');
position: absolute;
bottom: 160px;

}

.text8{
	color:#FF473A;
	font-size: 13px;
	position: absolute;
    top: 660px;
    left:10px;
}

.img6{
width: 165px;
height: 124px;
background-image: url('../pic/img6.jpg');
position: absolute;
bottom: 160px;
right: 20px;
}

.text9{
	color:#FF473A;
	font-size: 13px;
	position: absolute;
    top: 660px;
    right:115px;
}