html, body {
	height:100%;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

.start_page {
	width:100%;
	height: 100%;
	position:relative;
}

.start_page_background {
	width:100%;
	height: 100%;
	filter:blur(8px);
	background-image: url('../pics/start.png');
	background-size: cover;	
}

.start_page_container{
	width: 250px;
	position:absolute;
	left:calc(50% - 125px);
	top: calc(100% - 460px);
}

.start_page_caption {
	height: 150px;
	font-family: 'Montserrat', sans-serif;
	font-size:36px;
	text-transform: uppercase;
	color: #FCFCFC;
	
}

.start_page_text {
	font-size: 12px;
	color: #FCFCFC;
	height: 42px;
}	

.start_page_input {
	border:none;
	height: 3em;
	width: 100%;
	box-sizing: border-box;
	padding-left:1em;
}

.start_page_input--delimeter {
	border-bottom:1px solid black;
}

.start_page_input::placeholder {
	color:#000000;
}

.start_page_forgot_password {
	box-sizing: border-box;
	padding-top: 0.5em;
	font-size: 10px;
	color: #FCFCFC;
	height:42px;
	text-align: right;
}

.start_page_login {
	height: 3em;
	background-color: #FF473A;
	color:#FFFFFF;
	text-align: center;
	line-height: 3em;
	font-size: 12px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.home {
	background-color: orange;
	width: 100%;
	height: 100%;
}

.hidden {
	display:none;
}

.up {
	position:fixed;
	top:-100%;
	left:0;
	transition: top 0.5s;
}

.normal {
	position:fixed;
	top:0;
	left:0;	
	transition: top 0.5s;
}