{
  "globals": {
    // Put things like jQuery, etc
    "jQuery": true,
    "$": true
  },
  "parserOptions": {
        "ecmaVersion": 2017
    },
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true,
    "es6": true
    },
 
  // To give you an idea how to override rule options:
  "rules": {
    "no-empty-function": [1, { "allow": ["functions"] }],
    "quotes": [1, "double"],
    "indent": [1, "tab"],
    "consistent-return": [2, {"treatUndefinedAsUnspecified": false}],
    "no-console": "off",
    "no-lonely-if": "error",
    "no-script-url": ["error"],
    "no-var": ["error"] 
  }
}